<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template</title>
    <script src="js/jquery-3.1.1.min.js"></script>
</head>
<body class="FonL">
<nav type="toolbar">
    <li><a class="a9" href="/fourthChapter">Этап 3</a></li>
    <li><a class="a9" href="/sixthChapter">Как зарабатывают видеоблогеры</a></li>
</nav>
<table>

</table>
<div>
    <p class="a9">Это время, когда качество контента видеоблогов выходит на новый уровень. А авторами видеоблогов становятся 
	профессионалы из медасферы или те, кто имеет значимый опыт работы с видеблогингом. Кроме того, над созданием контента 
	трудится целая команда, состоящая из сценаристов, продюсеров, операторов и т.д. Яркие представители: Сергей Дружко, Большой русский босс, 
	Юрий Дудь, Алексей Навальный и другие.
</p>
    <br>

    <p class="a9">Спортивный журналист и главный редактор портала Sports.ru, Юрий Дудь, обрел популярность за счет 
	собственного шоу на Youtube «Вдудь». «Вдудь» – шоу в формате интервью с известными медиа персонами и видеоблогерами. 
	Такой формат позволяет Юрию повышать как свой рейтинг, так и своих гостей: Алексея Навального, Дмитрия Маликова, 
	Евгения Боженова («BadComedian») и т.д.
Сергей Дружко – телеведущий, журналист и актер является ведущим самого быстро набирающего популярность Youtube «Дружко Шоу». 
Первый миллион подписчиков был собран за первую неделю.
Игорь Лавров, известный как «Big Russian Boss» начинал как реп-исполнитель, однако сейчас изменил свою деятельность и стал блогером. 
Он ведущий одного из самого успешных шоу Youtube – «Big Russian Boss Show». Популярность принесло Лаврову продвижение его музыкального 
творчества через социальные сети и Youtube. На «Big Russian Boss Show» приходят знаменитые гости, на канал подписаны почти 3 миллиона 
пользователей, которые регулярно смотрят шоу, а инвестиции позволяют развивать проект дальше.
</p>
    <br>

    <p class="a9">Таким образом, видеоблог сегодня – это информационно-развлекательный канал, средство коммуникации, 
	платформа продвижения, пиара и рекламы. С каждым днем инвестиции, поощряющие развитие видеоблогинга увеличиваются. 
	Можно сказать, что видеоблог – конкурент телевидению. Возможно, как писал в своем исследовании, М. С. Камински: 
	«через какое-то время и традиционные телевизионные программы будут заменены энтузиастами, чей путь начался с того, 
	что они однажды опубликовали свое видео в Интернете. Или произойдет интеграция этих сфер, которая образует абсолютно 
	новый формат медиапространства».
</p>
    <br>

    <p class="a9">И так: видеоблогинг, как мы отмечали выше, зародился и развился в США. В России появившийся благодаря Youtube. 
	Российский видеоблог прошел схожие этапы становления с американским только с разницей в 7 лет. Истории американского и российского 
	видеоблогинга тесно связаны. Первые видеоблогеры как в России, так и в Америке начинали без опыта подобной работы и без необходимой 
	техники, они были первооткрывателями данного направления, и «держались» на собственном энтузиазме. Однако, чтобы выжить и увеличить 
	число подписчиков, нужно было меняться. Изменились цели: видеоблогинг стал работой, а для некоторых и единственным заработком.
</p>
</div>
<div>
    <p><img src="resource/people.jpg"></p>
</div>
</body>
<script src="js/fifthChapter.js"></script>
</html>