<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="js/jquery-3.1.1.min.js"></script>
</head>
<body class="FonL">
<li><a class="a9" href="/secondChapter">Этап 1</a></li>
<table>

</table>

<div>
    <p class="a9">До сих пор общепринятой трактовки понятия видеоблога не существует. Так, И.А. Текутьева дает следующее 
	определение видеоблогу: «это Интернет-явление, включающее в себя создание и выкладывание в сеть видеоматериалов на ту 
	или иную тему в выбранном автором формате, соответствующем жанру». О.Р. Чулкова трактует понятие следующим образом: 
	«видеоблогинг – это разновидность блога, где акцент делается на видеоинформацию». С точки зрения этимологии, видеоблог 
	(videoblog), в переводе с английского «video web log» – «видео журнал в сети Интернет». А пользователи глобальной сети, 
	регулярно выкладывающие персональный видеоконтент в общий доступ, называются «videoblogger» (video + web + logger) или, 
	сокращенно, «vlogger». Проанализировав этимологию и имеющиеся определения, дадим собственное. Видеоблог – Интернет-явление, 
	разновидность блога, основной целью которого является создание и регулярная публикация видеоконтента в определенном авторском 
	формате.</p>
    <br>

    <p class="a9">Официальной истории видеоблога как явления также пока не представлено. Тем не менее, сегодня принято считать, что 
	это явление зародилось в Америке. Первый видеоблогер – Адам Контрас. Второго января 2000 года он опубликовал видеозапись в своем 
	текстовом блоге для того, чтобы поделиться с подписчиками информацией о путешествии в Лос-Анджелес. Что примечательно, Адам Контрас 
	все еще продолжает вести видеоблог, что делает его самым продолжительным за всю небольшую историю существования видеоблогинга.</p>
    <br>

    <p class="a9">Развитие видеоблогинга как массового явления началось с появлением видеохостингов. В «толковом словаре XXI века» под 
	редакцией Г.Н. Скляревской это понятие определяется как: «предоставление места на сервере для размещения видеофайлов». То есть это 
	некая база для загрузки, хранения и распространения видео. В 2005 году, появился самый популярный на сегодняшний день американский 
	видеохостинг «Youtubе», который позволил каждому пользователю попробовать себя в роли видеоблогера. Сейчас сайт Youtube занимает третье 
	место по посещаемости в мире, его опережают только Google и Facebook. Летом 2017 года число активных пользователей Youtube превысило 
	1,5 млрд человек, и эта цифра продолжает увеличиваться. Кроме того, существуют и другие видеохостиги. Наиболее крупные из них были 
	также созданы в Соединенных Штатах – это Vimeo, Vevo. Россия имеет собственный видеохостинг Rutube, принадлежащий компании «Газпром-Медиа». 
	Основа контента хостинга: телепередачи, фильмы и сериалы российских каналов (в основном, «ТНТ», «СТС», «2х2» и «Матч ТВ»). Пользовательский 
	видеоконтент тоже присутствует, однако он менее популярен. Несмотря на рекордный взлет количества просмотров в сентябре 2015 года на Rutube: 
	более 53 миллионов за месяц, до популярности Youtube в России отечественному хостингу еще далеко. По оценкам аналитической компании «J`son & 
	Partners», доля на российском рынке Youtubе на 2015 год составляет 24 %, а RuTube лишь 10 %.
</p>
    <br>

    <p class="a9">Качество контента первых видеоблогов было невысоким. В основном, пользователи делились видеоматериалами из своей жизни, 
	которые были сняты на мобильный телефон, видеокамеру или вебкамеру. Смысловая нагрузка в публикациях практически отсутствовала, потому 
	что основной целью было показать свою жизнь.
</p>
    <div>
        <p><img class="img3" src="resource/vasilisa.png"></p>
    </div>
</div>
</body>
<script src="js/firstChapter.js"></script>
</html>