<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template</title>
    <script src="js/jquery-3.1.1.min.js"></script>
</head>
<body class="FonL">
<nav type="toolbar">
    <li><a class="a9" href="/thirdChapter">Этап 2</a></li>
    <li><a class="a9" href="/fifthChapter">Этап 4</a></li>
</nav>
<table>
</table>
<div>
    <p class="a9">Этот период характерен богатым жанровым разнообразием видеоблогов. Однако популярнее всего были два 
	независимых друг от друга направления: женский видеоблог и летсплей.
</p>
    <br>

    <p class="a9">На русском Youtube к 2011 году увеличилась женская аудитория это стало предпосылкой к появлению новых жанров. 
	Один из них – бьютиблог. Это видеоролики о стиле и красоте, учебные пособия, которые раскрывают секреты профессиональных 
	визажистов и стилистов. «Kate Clapp» первая начала работать в таком жанре. Другие популярные представители направления: 
	«Саша Спилберг» и «Maria Way». Лайфстаил блог – другой популяризировавшийся жанр. Это видеодневник о жизни, в котором блогеры 
	делятся с аудиторией личными новостями. Популярные темы: что в моей сумочке, что у меня в телефоне, что я купила, как я живу. 
	Еще один популярный жанр – Ответы. Формат, в котором блогер отвечает на вопросы подписчиков, оставленные в комментариях или через 
	социальные сети. В основном, касающиеся личной жизни, взглядов и отношения к чему-либо.
</p>
    <br>

    <p class="a9">Летсплей – другое популярное направление в 2013-2014 года на российском Youtube. Блогеры, в основном, молодые 
	люди и школьники начали записывать собственное прохождение компьютерных игр на видео, главное в жанре – комментарии автора. 
	Основатель направления шведский блогер «PewDiePie», именно за его форматом начали следовать сотни юных видеоблогеров. 
	Представители: «TheBrainDit», «Юзя», «Лолошка», «BlacksilverUFA».
</p>
   
</div>
<div>
    <p><img src="resource/smth.jpg"></p>
</div>
</body>
<script src="js/fourthChapter.js"></script>
</html>