<body class = FonH>
<h2 class="page-header">ВИДЕОБЛОГИНГ</h2>

<script src="js/average_count.js"></script>
<p>
    <img id="anim" src="../resource/cat.png" width="170px" height="170px"/>
</p>
<span class="a8" onmouseover="gettip('Мой любимый видеоблогер - BadComedian')"
      onmouseout="reset()">Наведи мышкой</span>
<div id="tip"></div>


<p class="a9">
    Видеоблог является формой веб-телевидения. Записи в видеоблогах 
	сочетают встроенное видео или видео-связь с поддержкой текста, 
	изображений и других метаданных. Записи могут быть сделаны в виде 
	одного блока или состоять из нескольких частей. Основным сервисом 
	распространения видео в данном формате является платформа YouTube. 
	Видеоблоги часто используют преимущества веб-синдикации для обеспечения 
	распространения видео через интернет с использованием форматов синдикации 
	(RSS или Atom) для автоматической агрегации и воспроизведения на мобильных 
	устройствах и персональных компьютерах 
    <br><br>
    Сильный рост популярности видеоблогов возник начиная с 2005 года.
</p>

<p><div><img class="img3" src="resource/allPersons.jpg"></div></p>
<br>

<p class="a9">
<ol class="a9">Содержание
    <li>
        <a href="/firstChapter">История видеоблогинга</a>
    </li>
    <li>
        <a href="/secondChapter">Первый этап: обзоры видеоигр (2008-2011)</a>
    </li>
    <li>
        <a href="/thirdChapter">Второй этап: развлекательные шоу и обзоры вирусных видео (2011-2013) </li>
    <li>
        <a href="/fourthChapter">Третий этап: женский видеоблог (2011-2015) и летсплей (2013-2014).</a>
    </li>
    <li>
        <a href="/fifthChapter">Четвертый этап: профессиональный видеоблог (2015-настоящее время)</a>
    </li>
    <li>
        <a href="/sixthChapter">Как зарабатывают видеоблогеры</a>
    </li>
</ol>
</p>


</body>

