<body class = FonR>
<h2 class="page-header">Авторизация</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label class="a1">Логин</label>
    <input type="text" class="form-control" name="username" placeholder="Логин">
  </div>
  <div class="form-group">
    <label class="a1">Пароль</label>
    <input type="password" class="form-control" name="password" placeholder="Пароль">
  </div>
  <button type="submit" class="btn btn-default">Войти</button>
    </form>
<canvas class='c'>psychedelic rainbow spiral</canvas>
</body>

