<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template</title>
    <script src="js/jquery-3.1.1.min.js"></script>
</head>
<body class="FonL">
<nav type="toolbar">
    <li><a class="a9" href="/firstChapter">История</a></li>
    <li><a class="a9" href="/thirdChapter">Этап 2</a></li>
</nav>
<table>

</table>
<div>
    <p class="a9">
	В это время видеоблогеры познают сущность видеоблога. Начинается активный процесс перестраивания от текстового способа 
	подачи информации к видеоформату. Первыми в этом преуспели видео обзорщики игр. Их творчество зародилось по причине несогласия 
	с обзорами игр, которые транслировались по телевидению в программах «От винта» и «Денди – новая реальность». Начинающие видеоблогеры 
	хотели самовыразиться, показать другой взгляд на обзор игр. Этот период характерен тем, что кроме видео обзоров игр не существовало 
	других массовых направлений видеоблога.
	</p>
    <br>
    <p class="a9">Главный представитель – «Илья Мэддисон» или Илья Давыдов, позаимствовавший идею у американского обзорщика видеоигр 
	Джеимса Рольфа «Angry Video Game Nerd». Другие представители: «Zulin», «Ваномас», «Абдуля», «Ozon671games», «Bigbrain» Кроме 
	индивидуальных обзоров популярным жанром стали дуэли. Формат подразумевает видео соревнование, кто лучше, оригинальное обозревает игры.</p>
</div>
<div>
    <p><img class="img3" src="resource/fash.jpg"></p>
</div>
</body>
<script src="js/secondChapter.js"></script>
</html>