<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template</title>
    <script src="js/jquery-3.1.1.min.js"></script>
</head>
<body class="FonL">
<nav type="toolbar">
    <li><a class="a9" href="/fifthChapter">Этап 4</a></li>
</nav>
<table>

</table>
<div>
    <p><img src="resource/funny.jpg"></p>
</div>
<div>
    <p class="a9">Основные источники заработка видеоблогеров</p>
 <p class="a9">Выгода тех, кто продвигает собственные товары и услуги, понятна. Но чтобы заработать, блогеру не обязательно что-либо создавать, 
производить и продавать. Рассмотрим несколько вариантов, как может заработать популярный видеоблогер при помощи своего раскрученного канала.
</p>
 <p class="a9">Партнерка от YouTube предлагает рекламные посты. Необходимо набрать 4-5 тыс. подписчиков, затем отправить заявку на сотрудничество. 
Начать зарабатывать можно после того, как заявку одобрят.</p>
 <p class="a9">Прямая реклама в сюжетах. Рекламодатели готовы оплачивать упоминание товаров и услуг, использование одежды с их логотипами, ссылки 
на сайты-доноры в теле ролика и т.д.</p>
 <p class="a9">Конкурсы. Блогер и рекламодатель создают конкурс, в результате которого участники получают призы от рекламодателя.</p>
 <p class="a9">Продажа сувениров с логотипом блога. Подходит только самым популярным и раскрученным блогерам.</p>
</div>

</body>
<script src="js/sixthChapter.js"></script>
</html>