<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template</title>
    <script src="js/jquery-3.1.1.min.js"></script>
</head>
<body class="FonL">
<nav type="toolbar">
    <li><a class="a9" href="/secondChapter">Этап 1</a></li>
    <li><a class="a9" href="/fourthChapter">Этап 3</a></li>
</nav>

<table>

</table>
<div>
    <p class="a9">Это время расцвета видеоблогинга в России. Именно тогда явление приобрело массовый характер, 
	контент стал качественнее, а видеоблогинг начал приносить прибыль.Образуются Интернет-сообщества видеоблогеров и 
	площадки для творчества: «Caramba.TV», «My Duck’s Vision» и «Спасибо, Ева!».
</p>
    <br>

    <p class="a9">Для данного этапа характерен юмористический, развлекательный контент, однако в это время уже появились 
	видеоблогеры, работающие в других жанрах и форматах. Яркий пример – Дмитрий Иванов, известный на Youtube как «Kamikadzedead». 
	Деятельность видеоблогер начал в 2007 году. Он автор многочисленных видеоблогов и Интернет-проектов на социальную тематику, 
	бывший продюсер видеохостинга Rutube и бывший главный редактор сайта «CarambaTV». Примечательно, в 2011 году Дмитрий Иванов по 
	итогам третьего Всероссийского конкурса телевизионных фильмов и программ «СМИ против коррупции» был награжден в номинации 
	«Лучший видеоблог (видеоблогер) Рунета». Церемония прошла в Центральном доме журналиста в Москве, а сам конкурс организован 
	при поддержке Федерального агентства по печати и массовым коммуникациям». Все это говорит о том, что уже в 2011 году общество 
	признало значимость работы блогеров, ведь комиссия оценивала контент «Kamikadzedead» наравне с работами профессиональных журналистов.
</p>
</div>
<div>
    <p><img src="resource/third.jpg"></p>
</div>
</body>
<script src="js/thirdChapter.js"></script>
</html>